<article>
  <h1>FBO Account Statements: <%= @account.name %></h1>
  <nav>
    <ul>
      <li>
        <%= link_to "New", new_fbo_account_statement_path(@account) %>
      </li>
    </ul>
  </nav>
</article>