<article>
  <h1>TE Scheme: <%= @scheme.name %></h1>
  <nav>
    <ul>
      <li><%= link_to "< home", root_path %></li>
      <li><%= link_to "Participants", te_scheme_participants_path(@scheme) %></li>
    </ul>
  </nav>
</article>